.centerHori {
    margin:0 auto;
    text-align: center;
}

.flex{
    display:flex;
}

.vertCenter{
    align-items: center;
}

.horiCenter{
    justify-content: center;
}
.login_header {
    margin-top:20px;
    margin-bottom:20px;
}

.blackText {
    color: black;
}

.pageContent{
    height:500px;
    width:100%;
}
